* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#logo {
  height: 6em;
  width: auto;
}

.logo {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #E2D4B7;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.card > img {
  height: 100px;
  width: auto;
}